---
import Link from "./Link.astro";
import ArrowRight from "./ui/ArrowRight.astro";
const { title, description, link, category, image } = Astro.props;
---

<div class="flex odd:flex-row-reverse even:flex-row news-card" data-category={category}>
  <div
    class="flex flex-col gap-4 bg-white text-primary h-[200px] px-[100px] w-3/5 diagonal"
  >
    <h3 class="font-luckiest-guy text-2xl">{title}</h3>
    <p class="text-xl max-w-[696px] description">
      {description}
    </p>
    <Link
      external
      to={link}
      class="group text-xl tracking-wider font-bold flex gap-2 items-center place-content-center w-fit"
    >
      <span
        class="relative font-luckiest-guy after:absolute after:bottom-0 after:left-0 after:w-0 after:border-b-2 after:border-black after:border-dotted after:transition-all after:duration-300 after:ease-in-out after:content-[''] group-hover:after:w-full"
      >
        Read more
      </span>
      <ArrowRight />
    </Link>
  </div>
  <img src={image} alt="" />
</div>
<style>
  .news-card:nth-child(even) {
    & .diagonal {
      clip-path: polygon(0 0, 100% 0, calc(100% - 50px) 100%, 0 100%);
      align-items: end;
      text-align: end;
    }
    & img {
      clip-path: polygon(50px 0, 100% 0, 97.5% 100%, 0 100%);
      transform: translateX(-33px);
    }
  }
  .news-card:nth-child(odd) {
    & .diagonal {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50px 100%);
    }
    & img {
      clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 0 100%);
      transform: translateX(33px);
    }
  }
  .description {
    shape-outside: circle(50%);
  }

  /* .description {
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  } */
</style>
